<nav class="nav">
    <a href="index" class="nav-logo">
        <img src="assets/Logo.svg" alt="Logo - hands halding up bottle" class="logo">

        <h4>Buyafuthi</h4>
    </a>
    <ul class="nav-items">
        <li>
            <a href="/" class="active">
                home
            </a>
        </li>
        <li>
            <a href="/about/">
                about
            </a>
        </li>
        <li>
            <a href="/contact/">
                contact
            </a>
        </li>
    </ul>
</nav>