h2 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
}
p {
  font-weight: 200;
}

/* header */
.header {
  display: grid;
  place-items: center;

  position: relative;
  margin: 3em 0 2rem;
  padding: 4rem 2%;

  //   outline: solid red 1px;
  background-color: var(--img-overlay);
  background-image: url(/assets/Header-Home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  //   width: 100%;

  h1 {
    color: var(--txt-clr-neutral);
    font-family: var(--font);
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    max-width: 16ch;
    line-height: 0.85;
    padding-bottom: 0.5em;
  }

  p {
    font-size: clamp(0.938rem, 3vw, calc(0.938rem * 1.5));
    text-align: center;
    max-width: 34ch;
    line-height: 1.15;
  }

  img {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
}

/*====
HOME SECTION
=====*/

/*Products*/

.products {
  display: flex;
  flex-direction: column;
  place-items: center;

  &-gallary {
    display: grid;
    width: 100%;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, 14.5rem);
    gap: 1rem;
    place-content: center;
    place-items: center;
  }

  .product {
    img:first-child:not(.g4-img) {
      width: 4rem;
      height: 6.65rem;
    }
    img:last-child:not(.g4-img) {
      width: 6rem;
      height: 5.75rem;
    }
  }
  .g4 {
    display: grid;
    grid-template-columns: repeat(2, 5rem);
    place-content: center;
    gap: 0.5em;

    img {
      width: 4rem;
      // margin: 0.5em;
    }
  }
  // .product + .product {
  //   margin: 0 2rem;
  // }
}

/*Collaborations*/

.collaborations {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-block: 2em;

  p {
    text-align: center;
    padding: 0.5em 0;
    line-height: 1.25;
    max-width: 40ch;
  }

  &-items {
    display: grid;
    width: 100%;
    margin: 1em 0;
    place-content: center;
    grid-template-columns: 10rem;
    gap: 1em;
    place-items: center;
    figure {
      margin: 0.5em;
    }
    figcaption {
      text-align: center;
    }
  }
}

/*Plastic to Fabric*/

.PTF {
  display: flex;
  flex-direction: column;
  place-items: center;
  // width: 100%;
  margin-block: 2em;

  &-items {
    display: grid;
    // position: relative;
    width: 90%;
    margin: 1em auto;
    place-content: center;
    grid-template-columns: 13rem;
    gap: 1.5em;
    figure {
      display: flex;
      flex-direction: column;
      place-items: center;
    }
    figcaption {
      text-align: center;
      max-width: 25ch;
    }
  }
}

/*====
ABOUT SECTION
=====*/
.header-about {
  background-image: url(/assets/Header-About.png);
  margin-top: 5.25em;
}

.who-we-are,
.name-and-logo,
.our-fabric,
.packaging,
.founder {
  display: grid;
  place-items: center;
  margin: 0.5em 0;
  h2 + img {
    margin-block: 1em;
  }
  img + p {
    margin-block: 1.5em;
  }
  p {
    max-width: 32ch;
    line-height: 1.25;
    text-align: left;
  }
}
/*who we are*/

/* .who-we-are {
 
} */

/*name and logo*/

.name-and-logo {
  h2 {
    line-height: 1.25;
    span {
      margin-top: -0.25em;
      display: block;
    }
  }
  p {
    margin-block: 1em;
  }
  img {
    margin-bottom: 1em;
  }
}

/*our-fabric*/

.our-fabric {
  position: relative;
  h2 {
    max-width: 15ch;
  }
  h2,
  p {
    margin-top: 1em;
  }
  p {
    // position: absolute;
    // top: 5%;
    // left: 0;
    transform: translateX(-50%);
  }
  ul {
    margin-top: 1em;
    padding-left: 1em;
    width: 30ch;

    li {
      line-height: 1.5;
      list-style: disc;
    }
    margin-bottom: 1em;
  }
}

/*packaging*/
.packaging {
  h2 {
    margin-top: 2em;
  }
  p {
    margin-top: 1em;
  }
  &-imgs {
    display: flex;
    place-items: center;
    margin-block: 1em 2em;
    gap: 0.5em;
  }
}

/*founder*/

.founder {
  &-p {
    margin-top: 1em;

    p + p {
      margin-top: 0.25em;
    }
  }
  img {
    margin-block: 1em 2em;
  }
}

/*===
Contact page
===*/

.header-contact {
  background-color: hsl(174, 0%, 99%);
  background-image: none;

  h1,
  p {
    color: var(--txt-clr-contrast);
  }
  h1 {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 0.1em;
      width: 100%;
      background: var(--gradient);
    }
  }
  p {
    font-weight: 400;
    line-height: 1.25;
  }
}
.form {
  display: grid;
  height: fit-content;
  background-image: var(--gradient-form);
  padding-block: 1em;
  margin: 0 5% 2em;

  label {
    display: none;
  }
}
.myForm {
  display: flex;
  flex-direction: column;
  place-items: center;

  h2 {
    color: var(--txt-clr-neutral);
  }

  input {
    background-color: var(--txt-clr-neutral);
    margin-top: 1em;
    border-radius: 1000rem;
    padding: 0.5em 1em;
  }

  .form-btn {
    color: var(--txt-clr-contrast);
    font-weight: 600;
  }
}

/*Available section*/
.available {
  display: flex;
  flex-direction: column;
  place-items: center;

  h2 {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 0.1em;
      width: 100%;
      background: var(--gradient);
    }
  }

  p {
    line-height: 1.25;
    margin: 1em 0;
  }

  #map {
    background-image: url(/assets/Google-Maps.png);
    height: 200px;
    width: 100%;
    margin-bottom: 2em;
  }
}
