.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25em;

  & + h4 {
    font-size: 1.313rem;
    font-weight: 800;
    text-transform: uppercase;
  }
}

li::marker {
  display: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--txt-clr-neutral);
  font-size: 0.75rem;
  font-weight: 200;
}

/* navigtion */

.nav {
  background-color: var(--nav-bg);
  display: flex;
  //   padding: 0 auto;
  justify-content: space-around;

  &-logo {
    display: flex;
    place-items: center;
    min-height: 3rem;
  }
}

.nav-items {
  display: flex;
  align-items: center;

  li {
    position: relative;
    list-style-type: none;
    margin-block: 0.5rem;

    + li {
      margin-left: 1em;

      &::before {
        display: block;
        position: absolute;
        content: "";
        width: 0.065rem;
        height: 1rem;

        inset-block: 25% 0;
        inset-inline: -25% 0;

        background-color: var(--txt-clr-contrast);
      }
    }
    &::marker {
      display: none;
    }
    .active {
      display: block;
      position: relative;
    }
    .active::after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      height: 0.1rem;
      width: 100%;
      background-color: var(--img-shadow);
    }

    // a {
    //   text-decoration: none;
    //   text-transform: capitalize;
    //   color: var(--txt-clr-neutral);
    //   font-size: 0.75rem;
    //   font-weight: 200;
    // }
  }
}

/*Footer*/
.footer {
  background-color: var(--footer-bg);

  display: grid;
  width: 100%;
  // height: 20rem;
  place-items: center;

  h4 {
    // color: rgb(161, 44, 44);
    text-shadow: 0 1em 0.5em 0 var(--txt-clr-contrast);
  }

  &-logo {
    display: flex;
    align-items: center;
    // align-items: center;
    // margin: 0.5em 0;

    // .logo {
    //   width: 0.25rem;
    // }
  }
}
