/*===
Go to Top
===*/

.topBtn {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  display: grid;
  place-content: center;
  bottom: 1rem;
  right: 1rem;
  z-index: 99999;

  background-color: var(--nav-bg);
  cursor: pointer;

  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;

  margin: 0;
  padding: 0;

  transition: opacity 0.25s ease-in;

  img {
    position: relative;
    margin: 0 auto;
    width: 3rem;
    pointer-events: none;
  }
}

.topBtn-add {
  opacity: 1;
  pointer-events: all;
}

/*===
Logo
===*/
.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25em;

  & + h4 {
    font-size: 1.25rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--txt-clr-neutral);
  }
}

li::marker {
  display: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--txt-clr-neutral);
  font-size: 0.75rem;
  font-weight: 200;
  cursor: pointer;
}

/*===
navigtion
===*/

.nav {
  background-color: var(--nav-bg);
  display: flex;
  flex-direction: column;
  place-items: center;

  position: fixed;
  inset: 0;
  height: fit-content;
  z-index: 9999;

  transition: all 300ms ease-in-out;

  &-logo {
    display: flex;
    place-items: center;
    min-height: 3rem;
  }
}

.nav-items {
  display: flex;
  align-items: center;

  li {
    position: relative;
    list-style-type: none;
    margin-block: 0 1rem;

    + li {
      margin-left: 1em;

      &::before {
        display: block;
        position: absolute;
        content: "";
        width: 0.065rem;
        height: 1rem;

        inset-block: 25% 0;
        inset-inline: -25% 0;

        background-color: var(--txt-clr-contrast);
      }
    }
    &::marker {
      display: none;
    }
    .active {
      display: block;
      position: relative;
      // text-transform: capitalize;
      font-weight: 300;
    }
    .active::after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      height: 0.1rem;
      width: 100%;
      background-color: var(--img-shadow);
    }
  }
}

/*Footer*/
.footer {
  background-color: var(--footer-bg);

  display: grid;
  width: 100%;
  // height: 20rem;
  // place-items: center;

  padding: 0.75em 0;

  &-logo {
    display: flex;
    align-items: center;
    justify-self: center;
    // align-items: center;
    // margin: 0.5em 0;

    h4 {
      color: hsl(175, 100%, 90%);
      // text-shadow: 0 1em 0.5em 0 var(--txt-clr-contrast);
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding: 1em;

    .facebook,
    .instagram {
      display: inline-flex;
      align-items: center;
      justify-content: left;
      min-width: 7.75rem;

      background-color: var(--img-overlay);

      padding: 0.15em 0.5em;
      margin: 0.25em auto;

      border-radius: 10000rem;
    }
    .facebook a,
    .instagram a {
      padding-right: 0.75em;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.75rem;
    }
  }

  li {
    list-style-type: none;
    line-height: 1.5;
    // padkding-block: 0.05em;
    text-align: left;

    display: flex;
    justify-content: left;
    justify-items: left;
    position: relative;

    a {
      position: relative;
      display: inline-block;
      font-size: 0.75rem;
      padding-left: 0.5rem;
    }
  }
  .links,
  .contact {
    margin: 1em 10% 0 25%;
    max-width: 20ch;
  }

  svg {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;

    align-self: center;
  }
}
