---
title: Buyafuthi SA
layout: "base.njk"
---

<header class="header">
    <div class="header-img">
        <img src="assets/Header-Home.png" srcset="" alt="Lady wearing Buyafuthi activewear, sitting on rocks">
    </div>
    <h1>Welcome To Buyafuthi</h1>
    <p>We at Buyafuthi aim to help raise awareness regarding plastic pollution as well as sustainable 'eco' fashion. Taking one's trash and turning it into another's functional activewear.</p>
</header>

<!-- Products -->

<section class="products" aria-label="Products">
    <h2>Take A Look at Our Products</h2>
    <div class="products-gallary">
        <div class="product">
            <img src="assets/model 01.png" alt="Buyafuthi Long pants side red" class="img">
            <img src="assets/model 010.png" alt="Buyafuthi Long pants front red" class="img">
        </div>
        <div class="product">
            <img src="assets/model 02.png" alt="Buyafuthi Long pants side light-blue" class="img">
            <img src="assets/model 020.png" alt="Buyafuthi Long pants front light-blue" class="img">
        </div>
        <div class="product">
            <img src="assets/model 03.png" alt="Buyafuthi short pants side dark-blue" class="img">
            <img src="assets/model 030.png" alt="Buyafuthi short pants front dark-blue" class="img">
        </div>
        <div class="product">
            <img src="assets/model 04.png" alt="Buyafuthi short pants side Light=blue" class="img">
            <img src="assets/model 040.png" alt="Buyafuthi short pants front Light-blue" class="img">
        </div>
        <div class="product g4">
            <img src="assets/Wastures 01.png" alt="Buyafuthi short pants close up and side grey" class="img">
            <img src="assets/Wastures 010.png" alt="Buyafuthi short pants close up and side grey" class="img">
            <img src="assets/Wastures 02.png" alt="Buyafuthi short pants close up and side grey" class="img">
            <img src="assets/Wastures 020.png" alt="Buyafuthi short pants close up and side grey" class="img">
        </div>
    </div>
</section>

<!-- Collaborations -->

<section class="collaborations" aria-label="Collabrations">
    <h2>Collaborations</h2>
    <p>Below are currunt/previous collabrations as well as stores that you can fin our active-wear in. Check out thier pages.</p>

    <div class="collaborations-items">
        <figure class="the-refill-den">
            <img src="assets/Collab-The-refill-den.png" alt="The Refill Den">
            <figcaption>
                The Refill Den
            </figcaption>
        </figure>
        <figure class="giftex">
            <img src="assets/Collab-Giftex.png" alt="Giftex">
            <figcaption>
                Giftex
            </figcaption>
        </figure>
        <figure class="philocaly-trail">
            <img src="assets/Collab-philocaly-trail.png" alt="Philocaly Trail">
            <figcaption>
                Philocaly Trail
            </figcaption>
        </figure>
    </div>

</section>

<!-- Plastic to Fabric -->

<section class="PTF">

    <h2>Plastic to Fabric</h2>

    <div class="PTF-items">
        <figure>
            <img src="assets/PTF Bottles.png" alt="Bottles">
            <figcaption>
                <h3>step 1</h3>
                <p>
                    Post-consumer plastic bottles are collected at reycling facilties.
                </p>
            </figcaption>
        </figure>
        <figure>
            <img src="assets/PTF Blue-Flakes.png" alt="Blue Flakes">
            <figcaption>
                <h3>step 2</h3>
                <p>
                    Bottles are washed and chopped into flakes.
                </p>
            </figcaption>
        </figure>
        <figure>
            <img src="assets/PTF Melted Bottles.png" alt="Melted Bottles">
            <figcaption>
                <h3>step 3</h3>
                <p>
                    Bottle flakes are melted and formed into pellets.
                </p>
            </figcaption>
        </figure>
        <figure>
            <img src="assets/PTF Yarn.png" alt="Yarn">
            <figcaption>
                <h3>step 4</h3>
                <p>
                    Pellets are then melted and extruded into yarn.
                </p>
            </figcaption>
        </figure>
        <figure>
            <img src="assets/PTF Fabric.png" alt="Fabric">
            <figcaption>
                <h3>step 5</h3>
                <p>
                    That yarn is then woven into fabric.
                </p>
            </figcaption>
        </figure>
        <figure>
            <img src="assets/PTF Pants.png" alt="Buyafuthi pants">
            <figcaption>
                <h3>step 6</h3>
                <p>
                    Fabric is sent for printing and then manufactured into final product.
                </p>
            </figcaption>
        </figure>
    </div>

</section>

