/*===
Contact page
===*/
.header {
  margin: 6em 10% 2em;
  background-color: #fcfcfc;
  background-image: none;
  display: grid;
  place-items: center;
}
.header h1,
.header p {
  color: var(--txt-clr-contrast);
}
.header h1 {
  position: relative;
  max-width: max-content;
  font-size: 2rem;
  font-weight: 600;
}
.header h1::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.1em;
  width: 100%;
  background: var(--gradient);
}
.header p {
  font-weight: 400;
  font-size: 1.09rem;
  line-height: 1.25;
  max-width: 30ch;
}

.form {
  display: grid;
  height: fit-content;
  background-image: var(--gradient-form);
  border-radius: 0.25em;
  box-shadow: var(--img-shadow);
  padding-block: 1em;
  margin: 0 5% 2em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -o-border-radius: 0.25em;
}
.form label {
  display: none;
}

.myForm {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.myForm h2 {
  color: var(--txt-clr-neutral);
}
.myForm input {
  background-color: var(--txt-clr-neutral);
  margin-top: 1em;
  border-radius: 1000rem;
  padding: 0.5em 1em;
}
.myForm .form-btn {
  color: var(--txt-clr-contrast);
  font-weight: 600;
}

/*
Available section
*/
.available {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.available h2 {
  position: relative;
}
.available h2::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.1em;
  width: 100%;
  background: var(--gradient);
}
.available p {
  line-height: 1.25;
  margin: 1em 0;
  text-align: center;
}
.available #map {
  background-image: url(assets/Google-Maps.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 100%;
  margin-bottom: 2em;
}
