*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --txt-clr-neutral: hsl(175, 0%, 90%);
  --txt-clr-contrast: hsl(175, 25%, 10%);
  --main-bg: hsl(174, 100%, 20%);
  --nav-bg: hsl(174, 100%, 16%);
  --footer-bg: hsl(174, 50%, 50%);
  --img-shadow: hsl(174, 100%, 4%);
  --img-overlay: hsla(173, 100%, 8%, 65%);
  --gradient: linear-gradient(85deg, hsl(174, 100%, 16%), hsl(174, 100%, 30%));
  --font: Jost, serif;
}

body {
  background-color: var(--main-bg);
  font-family: var(--font);
  color: var(--txt-clr-neutral);
}

section {
  margin: 0 5%;
}

.img {
  border-radius: 0.75em;
  box-shadow: 0 0 2rem 0 var(--img-shadow);
}

h2 {
  font-size: 1.25rem;
  font-weight: 800;
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.25em;
}
.logo + h4 {
  font-size: 1.313rem;
  font-weight: 800;
  text-transform: uppercase;
}

li::marker {
  display: none;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--txt-clr-neutral);
  font-size: 0.75rem;
  font-weight: 200;
}

/* navigtion */
.nav {
  background-color: var(--nav-bg);
  display: flex;
  justify-content: space-around;
}
.nav-logo {
  display: flex;
  place-items: center;
  min-height: 3rem;
}

.nav-items {
  display: flex;
  align-items: center;
}
.nav-items li {
  position: relative;
  list-style-type: none;
  margin-block: 0.5rem;
}
.nav-items li + li {
  margin-left: 1em;
}
.nav-items li + li::before {
  display: block;
  position: absolute;
  content: "";
  width: 0.065rem;
  height: 1rem;
  inset-block: 25% 0;
  inset-inline: -25% 0;
  background-color: var(--txt-clr-contrast);
}
.nav-items li::marker {
  display: none;
}
.nav-items li .active {
  display: block;
  position: relative;
}
.nav-items li .active::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  height: 0.1rem;
  width: 100%;
  background-color: var(--img-shadow);
}

/*Footer*/
.footer {
  background-color: var(--footer-bg);
  display: grid;
  width: 100%;
  place-items: center;
}
.footer h4 {
  text-shadow: 0 1em 0.5em 0 var(--txt-clr-contrast);
}
.footer-logo {
  display: flex;
  align-items: center;
}

/* header */
.header {
  display: grid;
  place-items: center;
  position: relative;
  margin: 0 0 2rem;
  padding: 3rem 2%;
  background-color: var(--img-overlay);
  background-image: url(../Source/Header-Home.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.header h1 {
  color: var(--txt-clr-neutral);
  font-family: var(--font);
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  max-width: 15ch;
  line-height: 0.85;
  padding-bottom: 0.5em;
}
.header p {
  font-size: 0.938rem;
  font-weight: 200;
  text-align: center;
  max-width: 34ch;
  line-height: 1.15;
}
.header img {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.products {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.products-gallary {
  display: grid;
  width: 100%;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 0.5em;
  place-content: center;
  place-items: center;
}
.products .product {
  width: max-content;
}
.products .product img + img {
  margin-left: 0.5em;
}
.products .g4 {
  display: grid;
  grid-template-columns: repeat(2, 5rem);
  place-content: center;
}
.products .g4 img {
  width: 4rem;
  margin: 0.5em;
}
.products .product + .product {
  margin: 1rem 2rem;
}

/*Collaborations*/
.collaborations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2em;
}
.collaborations p {
  text-align: center;
  padding: 0.5em 0;
  line-height: 1.25;
  max-width: 50ch;
}
.collaborations-items {
  display: grid;
  width: 100%;
  margin: 1em 0;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
  gap: 1em;
  place-items: center;
}
.collaborations-items figure {
  margin: 0.5em;
}
.collaborations-items figcaption {
  text-align: center;
}

/*Plastic to Fabric*/
.PTF {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-block: 2em;
}
.PTF-items {
  display: grid;
  width: 90%;
  margin: 1em auto;
  place-content: center;
  grid-template-columns: repeat(auto-fit, 13rem);
  gap: 1.5em;
}
.PTF-items figure {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.PTF-items figcaption {
  text-align: center;
  max-width: 25ch;
}

/*# sourceMappingURL=style.css.map */
