*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --txt-clr-neutral: hsl(175, 0%, 90%);
  --txt-clr-contrast: hsl(175, 25%, 10%);
  --main-bg: hsl(174, 100%, 20%);
  --nav-bg: hsl(174, 100%, 16%);
  --footer-bg: hsl(174, 50%, 50%);
  --img-shadow: hsl(174, 100%, 4%);
  --img-overlay: hsla(173, 100%, 8%, 65%);
  --gradient: linear-gradient(
    90deg,
    var(--nav-bg) 20%,
    hsl(174, 100%, 30%) 50%,
    var(--nav-bg)
  );
  --gradient-header: linear-gradient(90deg, var(--main-bg), var(--nav-bg) 40%);
  --gradient-form: linear-gradient(45deg, var(--nav-bg), hsl(174, 100%, 30%));
  --font: Jost, serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg);
  font-family: var(--font);
  color: var(--txt-clr-neutral);
  //   overflow: scroll;
  cursor: default;

  ::selection {
    background-color: var(--txt-clr-neutral);
    color: var(--nav-bg);
  }
}

/*===
Scroll Stuff
===*/
.scroll-down .nav {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .nav {
  filter: drop-shadow(0 -1em 2em hsl(0 0% 50%));
}

.about,
.contact-pg {
  background-color: hsl(175, 0%, 99%);
  font-family: var(--font);
  color: var(--txt-clr-contrast);
  //   overflow: scroll;
}
.about ::selection {
  background-color: var(--main-bg);
  color: var(--txt-clr-neutral);
}

section {
  margin: 0 5%;
}

.img {
  border-radius: 0.75em;
  box-shadow: 0 0 1rem 0 var(--img-shadow);
}
.logo-bg {
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 var(--img-shadow);
}

h2 {
  font-size: 1.25rem;
  font-weight: 800;
}

.btn,
.form-btn {
  display: inline-block;
  background-color: var(--txt-clr-neutral);
  color: var(--img-shadow);
  margin: 0.5em;
  padding: 0.25em 1em;
  border-radius: 1000rem;
}
